.banner{
    background-image: url('/public/banner.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.main-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.head{
    font-size: 8vw;
    font-weight: 800;
    color: white;
}

.sub-head{
    font-size: 16px;
    color: white;
}

.crausel-div{
    width: 100%;
    /* border: 2px solid red; */
}