.coin{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.coin-price{
    font-size: 22px;
    font-weight: 800;
}